@model TaskBoardAuth.Models.Project

@{
    ViewBag.Title = "Edit Project";
}

<div id="ProjectViewMainContent">
    <div style="background-color: #fff; margin: 3px; padding: 5px">
        <h2>So yeah...</h2>
        <p>Obviously this page is not done just yet but we are getting there. 
            In the meantime please look at this picture of toast.</p>
        <img alt="Toast" src="/Images/toast.jpg">
    </div> 
</div>