@using TaskBoardAuth.Core.Models
@using System.Globalization
@model IEnumerable<Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ProjectViewMainContent">
    

    <h2>Current Projects</h2>

    @foreach (Project project in Model)
    {
        <div class="project">
            <div class="projectName">
                @Html.ActionLink(project.Name, "TaskBoard", "TaskBoard", new {projectId = project.ProjectId}, null)
            </div>
            <div class="projectAdminLinks clear-fix">
                <img id="showDetails_@project.ProjectId.ToString(CultureInfo.InvariantCulture)"
                     alt="Show Details" 
                     src="/Images/showDetails.png"/>
                <a href="@Url.Action("Edit", "TaskBoard", new {projectId = project.ProjectId})">
                    <img alt="edit project" src="/Images/editIcon.png"/>
                </a>
                <img id="closeProject_@project.ProjectId.ToString(CultureInfo.InvariantCulture)" 
                     src="/Images/cross-button.png"
                     alt="CloseProject Project"/>
            </div>
            <div class="projectDetails" style="display: none;"
                 id="DetailsContainer_@project.ProjectId.ToString(CultureInfo.InvariantCulture)">
                @project.Description
            </div>
        </div>
    }

    <h2>Add a new project</h2>
    
    <div class="clear-fix">
        <hr/>
        <div style="margin-bottom: 8px; margin-left: 12px;">
            <span>Project Name: </span>
            <input id="projectName" size="80" maxlength="80"/>
            <p>Description (required)</p>
            <textarea rows="4" cols="70" id="projectDescription">
            </textarea>
        </div>
        <hr/>
        <div>
            <a id="addNewProjectLink">Add new project</a>
            <span id="projectCreationOutcome"></span>
            <p>At this point you still need to manually refresh the page. (sorry about that)</p>
        </div>
    </div>
    
    
   
    
</div>

<div class="toolTip" id="editProjectToolTip" style="display: none;">
    Edit This Project.
</div>
<div class="toolTip" id="ShowDescriptionToolTip" style="display: none;">
    Show details for this project.
</div>
<div class="toolTipWarning" id="closeToolTip" style="display: none;">
    <p style="font-weight: bold">Danger!</p>
    Closing a project will remove it from this list and others will not be able to see it until it 
    has been re-opened.
</div>

@section Scripts {
    @Scripts.Render("/Scripts/Projects.js")
}